* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-image:  url("C:/Users/user/Downloads/desconto-multa-de-transito-1024x683.png");
    background-size: cover;
  }

.container1 {
    height: 130px;
    display: flex;
    justify-content: space-around; /* Updated for centering elements */
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #c5bfbf;
}

.container1 span {
    margin-left: 1px;
}

.container1 a, span {
    color: #fff; /* Moved color definition here for better organization */
    font-family: oswald, Sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin: 10px; /* Updated for consistent margin */
}

  .container1 a img {
    text-align: start;
  }
  
  .left-content {
    position: relative; 
    left: 0;
    padding: 20px;
    margin: 20px;
  }
  
  .center-content img {
    position: relative; 
    left: -3px; 
    padding: 0px;
    margin: 0px;
  }

  .center-content  {
    margin-bottom: 7px;
  }
  
  .logo-zap {
    position: relative; 
    background-color: transparent;
    background-image: linear-gradient(180deg, #4AFF00 0%, #006910 100%);
    border-radius: 40px;
    box-shadow: 0 6px 10px 0 rgba(51.13333577817995, 120.17708587646482, 0, .5);
    padding: 7px 30px; 
    font-family: oswald, Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 0;
  }
.button-zap{
    text-decoration: inherit;
    flex-grow: 1;
    order: 10;
    display: inline-block;
}

.container h1{
    color: #fff;
    font-family: oswald,Sans-serif;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
}

.container h2 {
    color: #01eeb7;
    font-family: oswald,Sans-serif;
    font-size: 75px;
    font-weight: 600;
    text-align: center;
}

.container p {

    color: #fff;
    font-family: roboto,Sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

.links-header {
    position: relative; 
    background-color: transparent;
    background-image: linear-gradient(180deg, #ffa600 0%, #695b00 100%);
    border-radius: 40px;
    /*box-shadow: 0 6px 10px 0 rgba(51.13333577817995, 120.17708587646482, 0, .5);*/
    padding: 7px 30px; 
    font-family: oswald, Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 0;
}

.links-header a {
    border-right: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .links-header a:last-child {
    border-right: none;
  }
